<!doctype html>
<html>
    <head>
        <title>About</title>
        <meta name="description" content="My about page, on which I tell you about me!">
        <meta name="keywords" content="about page">
    <style>
    .myDiv {
    border: solid darkred 5px;
    padding-bottom: 20px;
    background-color: pink;
    text-align: center;
    font-family: Sans-serif;
    }
    </style>
    </head>
    <body>
    <div class = "myDiv">
        {% if heading %}
            <h1>{{heading}}</h1>
        {% else %}
            <h1>About Page</h1>
        {% endif %}

        <h2>I am a Data Science for Public Policy student at the Hertie School in Berlin.</h2>

        <p>
            I enjoy vegan cooking, cycling around the city, and playing boardgames. 
            Professionally, I would love to use data for the public good.
            Before moving to Berlin, I studied Mathematics in Amsterdam, where cycling was way more fun than here. 
            Even before that, I lived in Hamburg.
        </p>

        <a href="https://www.linkedin.com/in/mona-borth/">See my LinkedIn</a>
        
        <p>
            <img src="{{url_for('static', filename='images/me.jpg') }}" 
            style="width: 300px; height: auto;" 
            alt="a (cartoon-ish) picture of me">
        </p>
        
    </div>
    </body>
</html>